@font-face {
    font-family: 'Polymath';
    src: url('/fonts/Polymath.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Polymath';
    src: url('/fonts/Polymath-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.polymath {
    font-family: 'Polymath', sans-serif;
    font-size: 32pt;
    font-weight: normal;
}
.polymath-bold {
    font-family: 'Polymath', sans-serif;
    font-size: 32pt;
    font-weight: bold;
}
